@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  scroll-behavior: smooth;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

:root {
  --dark-main-clr: #fe876f;
  --light-main-clr: #ffe6df;
  --bg-header-clr: #ffe6df;
}

.slider {
  padding-top: 50%;
  background: url("../img/morning.jpg") center/cover no-repeat;
  transition: all 1s linear;
  z-index: 1;
}

.slider.change-day {
  background-image: url("../img/night.jpg");
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.25rem;
  z-index: 20;
  transition: all 0.5s linear;
}

.logo-side {
  padding: 8px;
  height: 100%;
  width: 100px;
}
.logo img {
  max-width: 100%;
  height: auto;
}

.nav {
  letter-spacing: 5px;
}
.nav a {
  color: var(--dark-main-clr);
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.25s linear;
}
.nav a:hover {
  color: rgba(204, 204, 204, 0.8);
  background-color: rgba(0, 0, 0, 0.5);
}
.nav-btn {
  display: none;
  padding: 10px 15px;
  color: var(--light-main-clr);
  cursor: pointer;
}
.nav-btn:hover {
  color: var(--dark-main-clr);
}

.container {
  background-color: var(--dark-main-clr);
  z-index: 1;
}

.layout {
  min-height: 600px;
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}

.container > section {
  border-bottom: 5px solid var(--dark-main-clr);
}

.intro {
  background-color: var(--light-main-clr);
}

.title, .describe, .thanks {
  text-align: center;
  font-style: italic;
}

.title, .content {
  color: var(--dark-main-clr);
}

.describe, .thanks {
  color: rgba(0, 0, 0, 0.5);
  margin: 15px 0;
}

.content {
  padding: 0 25px;
  line-height: 1.6;
}

.project {
  background-color: var(--light-main-clr);
}

.content-project {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
  height: 100%;
  overflow-y: auto;
}

.item {
  position: relative;
  margin: 40px;
  display: flex;
}
.item-img .img-project {
  width: 250px;
}
.item-content__btn {
  text-align: left;
  padding: 20px 25px;
}
.item-content__btn a {
  padding: 15px 25px;
  color: var(--light-main-clr);
  background-color: var(--dark-main-clr);
  outline: 1px solid var(--light-main-clr);
  border-radius: 20px;
  transition: all 0.5s linear;
}
.item-content__btn a:hover {
  color: var(--dark-main-clr);
  background-color: var(--light-main-clr);
  outline: 1px solid var(--dark-main-clr);
}

.layer {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}

.content-project__mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 250px;
}
.content-project__image > img {
  display: flex;
  justify-content: center;
  height: 150px;
  width: 200px;
  opacity: 0.5;
}

.about {
  background-color: var(--light-main-clr);
}

.show {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show-slide {
  height: 250px;
  width: 70%;
  position: absolute;
  overflow: hidden;
  outline: 2px solid #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
}
.show .move {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.25);
  transition: all 0.5s linear;
  cursor: pointer;
  z-index: 4;
}
.show .move-left {
  position: absolute;
  left: 0;
}
.show .move-right {
  position: absolute;
  right: 0;
}
.show .move:hover {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.75);
}
.show .slides {
  position: relative;
  display: flex;
  width: 300%;
  height: 100%;
}

.slider-item {
  position: relative;
  width: 100%;
  height: 100%;
}
.slider-item__title {
  text-align: center;
  font-size: 2.5rem;
}
.slider-item__content {
  position: relative;
}
.slider-item__title, .slider-item__content {
  margin: 15px 50px;
}

i.icon-fe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 6rem;
}

.fa-html5 {
  color: rgba(255, 159, 41, 0.4);
}

.fa-css3-alt {
  color: rgba(0, 150, 255, 0.4);
}

.fa-js-square {
  color: rgba(255, 234, 17, 0.4);
}

.footer {
  padding: 25px 40px;
  min-height: 200px;
  background-color: var(--light-main-clr);
  display: flex;
  justify-content: space-around;
  z-index: 1;
}
.footer-intro__item {
  position: relative;
  padding: 10px 20px;
  color: var(--dark-main-clr);
}
.footer-intro__item::before {
  content: " ";
  position: absolute;
  left: 10px;
  height: 50%;
  width: 4px;
  background-color: var(--dark-main-clr);
}
.footer-title {
  color: var(--dark-main-clr);
}

.fa-brands {
  font-size: 1.75rem;
  padding: 10px;
}
.fa-facebook-square {
  color: #0078AA;
  text-shadow: 0 0 5px #fff;
}
.fa-youtube {
  color: #f7412b;
  text-shadow: 0 0 5px #fff;
}
.fa-instagram {
  color: #F94892;
  text-shadow: 0 0 5px #fff;
}
.fa-linkedin {
  color: #0C4271;
  text-shadow: 0 0 10px #fff;
}
.fa-github {
  color: #000;
  text-shadow: 0 0 5px #fff;
}

@media (max-width: 767px) {
  .layout {
    margin: 0;
    width: 100%;
  }
  .nav {
    display: none;
    position: fixed;
    background-color: var(--bg-header-clr);
    margin-top: 50px;
    top: 0;
    right: 0;
    -webkit-animation: move 1s linear;
            animation: move 1s linear;
  }
  .nav-btn {
    display: block;
  }
  .nav > a {
    display: block;
    border-radius: 0;
    border-top: 2px solid var(--light-main-clr);
  }
  @-webkit-keyframes move {
    0% {
      right: -100%;
      opacity: 0;
    }
    50% {
      right: -50%;
      opacity: 0.5;
    }
    100% {
      right: 0;
      opacity: 1;
    }
  }
  @keyframes move {
    0% {
      right: -100%;
      opacity: 0;
    }
    50% {
      right: -50%;
      opacity: 0.5;
    }
    100% {
      right: 0;
      opacity: 1;
    }
  }
  .show-slide {
    width: 100%;
  }
  .item {
    display: block;
  }
  .footer {
    display: block;
  }
}
.active {
  display: block;
}

*.night {
  --dark-main-clr: #155c6e !important;
  --light-main-clr: #6CCDD4 ;
  --bg-header-clr: #bbe1e4;
}/*# sourceMappingURL=style.css.map */